* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}
img {
  object-fit: cover;
}

:root {
  --main-bc-collor: #fff;
  --primary-color: #b963ef;
  --primary-color-activ: #9e46d4;
  --main-font-text: "Arial", sans-serif;
  --main-font-title: "Arial", sans-serif;
  --block-indent: 30px;
  --main-btn-text-color: #b963ef;
  --main-btn-text-color-activ: #9e46d4;
  --border-radius: 8px;
  --main-font: "Cormorant Garamond", serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2%;
  font-family: var(--main-font-text);
}

header,
main,
footer {
  display: flex;
  justify-content: center;
  background-color: var(--main-bc-collor);
}

main {
  flex-grow: 1;
}
.max-cont-width {
  width: 100%;
  max-width: 1200px;
}

.main-btn {
  background-color: var(--main-btn-text-color);
  padding: 16px 24px;
  border: none;
  border-radius: var(--border-radius);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  transition: background-color 0.3s;
}
.main-btn:hover {
  background-color: var(--main-btn-text-color-activ);
}

.sect-title {
  padding-top: var(--block-indent);
  font-size: 34px;
  font-family: var(--main-font);
  text-transform: uppercase;
  text-align: center;
}

.header__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 110px;
  gap: 8px;
  flex-wrap: wrap;
}

.header__cont-logo a {
  display: flex;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
  margin: 6px 0;
}

.header__cont-logo a img {
  height: 49px;
}

.header__cont-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header__cont-nav ul li {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 8px;
  font-weight: bold;
  color: #585858;
}
.header__cont-nav ul li.active {
  background-color: #f5f5f5;
}

.header__cont-num {
  display: flex;
  color: var(--primary-color);
  font-weight: bold;
  align-items: center;
  gap: 5px;
}
.header__cont-num svg {
  fill: var(--primary-color);
}
.header__cont-num:hover {
  color: var(--primary-color-activ);
}
.header__cont-num:hover svg {
  fill: var(--primary-color-activ);
}
.mc__title {
  gap: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  text-align: center;
  font-family: var(--main-font);
  text-transform: uppercase;
}
@media (max-width: 760px) {
  .mc__title {
    font-size: 25px;
  }
}
@media (max-width: 400px) {
  .mc__title {
    font-size: 16px;
  }
}

.mc__assoc-plan {
  padding-top: var(--block-indent);
  width: 100%;
  min-height: 290px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  justify-content: space-between;
  justify-items: center;
  align-items: end;
}

.assoc-plan__blockA,
.assoc-plan__blockB {
  position: relative;
  height: 290px;
  width: 100%;
  max-width: 280px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f5f5f5;
  padding: 10px;
  transition: background-color 0.4s;
}
.assoc-plan__blockA:hover,
.assoc-plan__blockB:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.assoc-plan__blockA p {
  width: 80%;
}
.assoc-plan__blockA .icon,
.assoc-plan__blockB .icon {
  position: absolute;
  left: 10px;
  bottom: 10px;
  fill: #000;
  transition: fill 0.5s ease, transform 0.5s ease;
}
.assoc-plan__blockA:hover .icon,
.assoc-plan__blockB:hover .icon {
  fill: #fff;
  transform: rotate(-45deg);
}

.assoc-plan__blockA .foto,
.assoc-plan__blockB .foto {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.mc__assoc-plan .assoc-plan__blockA:nth-of-type(2) {
  max-height: 220px;
}
.mc__assoc-plan div:nth-of-type(4) {
  width: 100%;
  max-width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.assoc-plan__blockB {
  max-height: 120px;
}

@media (max-width: 900px) {
  .mc__assoc-plan {
    grid-template-columns: repeat(2, 1fr);
  }
  .mc__assoc-plan .assoc-plan__blockA:nth-of-type(1) {
    /* justify-self: baseline; */
    max-width: none;
  }
  .mc__assoc-plan .assoc-plan__blockA:nth-of-type(2) {
    justify-self: baseline;
    max-width: none;
  }
  .mc__assoc-plan .assoc-plan__blockA:nth-of-type(3) {
    justify-self: end;
    max-width: none;
  }
  .mc__assoc-plan div:nth-of-type(4) {
    max-width: none;
  }
}

@media (max-width: 600px) {
  .mc__assoc-plan {
    grid-template-columns: repeat(1, 1fr);
  }

  .assoc-plan__blockB {
    max-width: none;
  }
}

/* section mc__about-course start  */
.mc__about-course {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mc__about-course p {
  padding-top: var(--block-indent);
  text-align: center;
  max-width: 60%;
  line-height: 1.6;
  color: #757575;
}
/* section mc__about-course end  */

/* section mc__who-suitable start  */

.mc-w-s-cont {
  padding-top: var(--block-indent);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: end;
}
.mc-t-p__cont-card h3 {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.mc-w-s-cont__card {
  background-color: #f5f5f5;
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  padding: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}
.mc-w-s-cont__card:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.mc-w-s-cont__card p {
  position: relative;
  z-index: 20;
}
.mc-w-s-cont__card img {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 650px) {
  .mc-w-s-cont {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* section mc__who-suitable end  */
/* section mc__training-program start  */

.mc-t-p__cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 10px 0;

  gap: 20px;
}
.mc-t-p__cont.one {
  align-items: end;
}
.mc-t-p__cont-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 20px;
  transition: background-color 0.3s;
}
.mc-t-p__cont-card:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.mc-t-p__cont-card p {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 2;
}

@media (max-width: 855px) {
  .mc-t-p__cont-card p {
    line-height: 1.5;
  }
}
@media (max-width: 650px) {
  .mc-t-p__cont {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* section mc__training-program end  */

/* section mc__prices start  */
.mc-p__cont {
  padding-top: var(--block-indent);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: var(--block-indent);
  gap: 20px;
}

.mc-p__cont-card {
  height: 290px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 20px;
}

.mc-p__cont-card_txt p {
  padding: 12px 0;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 650px) {
  .mc-p__cont {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* section mc__prices end  */

/* footer start */
.footer__cont {
  border-top: 2px solid #d9d9d9;
  width: 100%;
  max-width: 1200px;
}
.footer__cont-contacts {
  padding-top: var(--block-indent);
  display: grid;
  grid-template-columns: 34% 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 900px) {
  .footer__cont-contacts {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
}
@media (max-width: 550px) {
  .footer__cont-contacts {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    justify-items: center;
  }
}
.footer__user-agr {
  padding-top: var(--block-indent);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: var(--block-indent);
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}
.footer-section h3 {
  font-weight: bold;
}

.fs1 h1 {
  gap: 30px;
}
.social-icons {
  display: flex;
  gap: 30px;
}
.fs2 ul,
.fs3 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fs1 h3 {
  font-size: 14px;
}
